* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  transition: all 0.3s ease;
}

/* THEME */
body.dark {
  background: #0f0f0f;
  color: #fff;
}

body.light {
  background: #f3f3f3;
  color: #000;
}

.container {
  height: 100vh;
  display: flex;
  
  overflow: hidden;
}

/* LEFT */
.login-box {
  width: 50%;
  padding: 40px;
  background: #181818;
}


body.light .login-box {
  background: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #c7e57f;
  font-size: 26px;
  font-weight: bold;
}

.theme-btn {
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid #555;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease; 
}

.theme-btn:hover {
  transform: scale(1.07);

}

.theme-btn:active {
  transform: scale(0.97);
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);  
}

h1 {
  margin-top: 30px;
}


.subtitle {
  color: #999;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;

}

label {
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 20px;
  border-radius: 8px;
  border: 1px solid #333;
  background: transparent;
  color: inherit;
  transition: border-color 0.3s ease;

}

input:focus {
  border-color: #75a90d;
  outline: none;

  box-shadow: 0 0 5px #75a90d;
}

.password-box {
  position: relative;
}

.eye {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.forgot {
  display: block;
  text-align: left;
  font-size: 16px;
  color: #9acd32;
  text-decoration: none;
  margin-bottom: 20px;
  transition: text-decoration 0.3s ease;

}

.forgot:hover {
  transition: 0.4s;
  text-decoration: underline;
}

.forgot:active {
  transition: all 0.2s ease;
  color: #6b9b0b;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #c7e57f;
  font-weight: bold;
  cursor: pointer;
   transition: transform 0.15s ease, box-shadow 0.15s ease; 
}

.login-btn-p {
  font-size: 16px;
}

.login-btn:hover {
  background: #b0d163;
 transition: 0.5s;
    transform: scale(1.02);
}

.login-btn:active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);  
  transform: scale(0.98);
}



.or {
  text-align: center;
  margin: 20px 0;
  color: #777;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
  vertical-align: middle;
}

.social button {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #535353;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.social :hover {
 transform: scale(1.03);
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}



.register {
  text-align: center;
  margin-top: 20px;
}

.register a {
  color: #9acd32;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.register a:hover {
  text-decoration: underline;
  transform: scale(1.02);
}

.register a:active {
  transition: all 0.2s ease;
  transform: scale(0.98);
  color: #6b9b0b;
}

/* RIGHT */
.image-box {
  width: 50%;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  filter: brightness(80%);
}

@media screen and (max-width: 500px) {
  .container{
    flex-direction: column-reverse;
    height: auto;
  }
  .login-box{
    width: 100%;
  }
  .image-box{
    display: none;
  }
}